.button {
    padding: 12px 0;
    background: #7c3af7;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;
    margin-top: auto;
    letter-spacing: 0.3px;
    width: 70%;
    margin: 8px
}

.button:hover {
    background: #6116eb;
    transform: scale(1.02);
}

.button:active {
    transform: scale(0.98);
}

.p {
    color: var(--primary);
    font-weight: 600;
}